body {
  background-image:repeating-linear-gradient(lightblue,crimson,darkgreen);
}
.contact  {
  margin-left: 500px;
  float: right;
}
.pro {
  background-image: url(portfolio/img/wilson.jpeg);
}
.projects {
  width:20%;
  height:auto;
  border-color:lightgrey;
  background-color: lightgrey;
  border-width:medium;
  border-style: solid;
  border-radius: 30px;
  padding:10px;
  margin:15px;

  float:left;
}
footer {
  text-shadow:black;
  color:white;
}
h5, h2, h1, h3{
  text-align: center;
}
.col-md-8 {
  width: auto;
  max-width: 60%;
  float:left;
}
.container div {
  float:left;
  max-width: 100%;
}
.about {
  width: auto;
  border-color: green;
  background-color: lightgrey;
  border-width: thick;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 3px;
  margin-left: 20px;
  margin-top: 25px;
  float:left;
}
.aboutbroad {
  float: left;
  max-width: 45%;
}
.special {
  width: auto;
  max-width: auto;
}
.photo {
  max-width: 100%;
  height:auto;
  object-fit: contain;
  margin-right: 100px;
  float:left;
  border-radius: 30px;
}
.photohold {
  width: auto;
  max-width: 40%;
  float: right;
  border-color: lightgray;
  border:20px;
  padding: 10px;
  margin:15px;
  border-radius: 30px;
  margin-right:100px;
}
.list {
  float:right;
  color: lightgray;
  border: solid black;
  background-color: black;
  border-radius: 10px;
  margin-right: 25px;
  margin-top: 15px;
}
span{
  font-style: oblique;
  font-weight: bold;
}
