body {
  background-color: darkgray;
}

.projects {
  width:20%;
  height:auto;
  border-color:lightgrey;
  background-color: lightgrey;
  border-width:medium;
  border-style: solid;
  border-radius: 30px;
  padding:10px;
  margin:25px;
  float:left;
}

h5, h2, h1, h3{
  text-align: center;
}

.container div {
float:left;
max-width: 100%
}

.about {
  width: auto;
  border-color: lightgrey;
  background-color: lightgrey;
  border-width: medium;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 3px;
  margin-left: 20px;
  margin-top: 25px;
  float:left;
  max-width: 45%;
}
.aboutbroad {
  float: left;
  max-width: 75%;
}

.photo {
  max-width: 100%;
  height:auto;
  object-fit: contain;
  margin-right: 30px;
  float:left;
}
.photohold {
  width: auto;
  max-width: 40%;
  float: right;
  border-color: lightgray;
  border:20px;
  padding: 10px;
  margin:15px;
  border-radius: 30px;
}
